<form>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-fw fa-search"></i>
      </div>
      <input type="text" class="form-control js-search">
    </div>
  </div>
</form>
<div class="panel-group text-left" id="faq">
  {% for q in page.faq %}
  <div class="panel panel-default js-faq-panel" id="{{ q.id }}">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a href="#{{ q.id }}">
          {{q.id}}. {{ q.title }}
        </a>
      </h4>
    </div>
    <div class="panel-collapse">
      <div class="panel-body">
          {{ q.content }}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
