body {
  text-align: center;
  padding: 30px 0;
}

a {
  outline: none !important;
  color: #4372aa;
}

h1 {
  font-family: 'Play', sans-serif;
  margin-top: 10px;
  margin-bottom: 5px;
}

.lead {
  font-style: italic;
}

.container > p,
.container > ul {
  margin: 30px 0;
}

.nav-pills {
  text-align: center;
}

.nav-pills > li {
  float: none;
  display: inline-block;
}

.nav-pills > li > a {
  border-radius: 2px;
  background: none !important;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #000;
}

.nav-pills > li > a > i {
  vertical-align: middle;
}

.carousel-control {
  background: none !important;
}

.carousel-control span {
  display: none !important;
}
