---
---
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}{% unless page.title %} - {{ site.subtitle }}{% endunless %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/style.css">
  <link rel="shortcut icon" href="/assets/favicon.ico">
</head>
<body>
  <div class="dropdown locale">
    <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">
      <i class="fa fa-fw fa-globe"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
      <li class="{% if page.locale == 'en' %}active{% endif %}"><a href="/{% if page.faq %}faq{% elsif page.path %}{{ page.path }}{% endif %}">English</a></li>
      <li class="{% if page.locale == 'ja' %}active{% endif %}"><a href="/ja/{% if page.faq %}faq{% elsif page.path %}{{ page.path }}{% endif %}">日本語</a></li>
    </ul>
  </div>
  <div class="container">
    <header>
      <p><a href="/{% if page.locale == 'ja' %}ja/{% endif %}"><img src="/assets/logo.png" class="logo"></a></p>
      <h1><a href="/{% if page.locale == 'ja' %}ja/{% endif %}">{{ site.title }}</a></h1>
      <p class="lead">
        {% if page.faq %}
          {{ site.locales[page.locale].faq }}
        {% elsif page.help %}
          {{ site.locales[page.locale].help }}
        {% else %}
          {{ site.locales[page.locale].lead }}
        {% endif %}
      </p>
    </header>

    {{ content }}

    <div class="fb-page" data-href="https://www.facebook.com/javascriptanywhere/" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/javascriptanywhere/"><a href="https://www.facebook.com/javascriptanywhere/">JavaScript Anywhere</a></blockquote></div></div>

    <div class="twitter-container">
      <a class="twitter-timeline" data-width="340" data-height="300" data-theme="light" href="https://twitter.com/jsanywhere?ref_src=twsrc%5Etfw">Tweets by jsanywhere</a>
    </div>

    <ul class="list-inline">
      <li><a href="https://twitter.com/jsanywhere"><i class="fa fa-fw fa-twitter"></i> Twitter</a></li>
      <li><a href="https://www.facebook.com/javascriptanywhere"><i class="fa fa-fw fa-facebook"></i> Facebook</a></li>
      <li><a href="mailto:tnantoka@javascriptanywhere.net"><i class="fa fa-fw fa-envelope-o"></i> {{ site.locales[page.locale].mail }}</a></li>
      <li><a href="/{% if page.locale == 'ja' %}ja/{% endif %}faq"><i class="fa fa-fw fa-question-circle"></i> {{ site.locales[page.locale].faq }}</a></li>
      <li><a href="/{% if page.locale == 'ja' %}ja/{% endif %}help"><i class="fa fa-fw fa-book"></i> {{ site.locales[page.locale].help }}</a></li>
    </ul>

    <footer>
      <p>
        <small>
          &copy; 2010-{{ 'now' | date: '%Y' }} <a href="https://twitter.com/tnantoka">tnantoka</a>
        </small>
      </p>
    </footer>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"></script>
  <script src="/assets/script.js"></script>

  {% if jekyll.environment == 'production' %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=541298026028412";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-55274767-1', 'auto');
      ga('send', 'pageview');

    </script>
  {% endif %}
</body>
</html>
